{% block notification %}

<script type="text/javascript">
    
$(document).ready(function(){
    $("#dropdownMenu1").click(function(){
        $.ajax({url: "{% url 'notify-status' %}", success: function(result){
            document.getElementById("notify-count").innerHTML = '';
        }});
    });
});
</script>

<div class="dropdown" style="float: right; padding: 13px">

    <a href="" onclick="return false;" role="button" data-toggle="dropdown" id="dropdownMenu1" data-target="home" style="float: left" aria-expanded="true">
        <i class="fa fa-bell" style="font-size: 20px; float: left; color: black"></i>
    </a>
        {% if unread_count %}
            <span id="notify-count" class="badge badge-danger">{{ unread_count }}</span>
        {% else %}
            <span id="notify-count" class="badge badge-danger"></span>
        {% endif %}
    <ul class="dropdown-menu dropdown-menu-left pull-right" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation">
            <a href="#" class="dropdown-menu-header">Notifications</a>
        </li>
        {% if notifications %}
            <ul class="timeline timeline-icons timeline-sm">
                {% for notify in notifications %}
                        <li>
                            <p>
                                <span class="timeline-icon"><i class="far fa-file-alt"></i>
                                    <a href="{% url 'post_detail' pk=notify.blog.id %}">{{ notify.verb }}</a>
                                    <br>
                                    <br>
                                </span>
                            </p>
                        </li>
                {% endfor %}
            </ul>
        {% else %}
            <li>
                <a>No Notifications</a>
            </li>
        {% endif %}
        <div id="notificationFooter"><a href="#">&nbsp;</a></div>
    </ul>
</div>

{% endblock %}
