<!DOCTYPE html>
<html lang="en" class="fontawesome-i2svg-active fontawesome-i2svg-complete">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="DevCard Bootstrap 4 Template">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <!-- FontAwesome JS -->
    <script defer src="assets/fontawesome/js/all.js"></script>
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/devresume.css">
    <!-- <link id="theme-style" rel="stylesheet" href="assets/css/theme-1.css"> -->
</head>

<body>
    <div class="main-wrapper">
        <section class="cta-section theme-bg-light py-5">
            <div class="container text-center single-col-max-width">
                <h2 class="heading mb-3">Online Resume</h2>
                <a class="btn btn-primary" href="#" target="_blank"><i class="fas fa-file-pdf mr-2"></i>Download PDF Version</a>
            </div>
            <!--//container-->
        </section>
        <div class="container px-3 px-lg-5">
            <article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">
                <div class="resume-header">
                    <div class="row align-items-center">
                        <div class="resume-title col-12 col-md-6 col-lg-8 col-xl-9">
                            <h2 class="resume-name mb-0 text-uppercase">{{ data.full_name }}</h2>
                            <div class="resume-tagline mb-3 mb-md-0">Software Engineer</div>
                        </div>
                        <!--//resume-title-->
                        <div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
                            <ul class="list-unstyled mb-0">
                                <li class="mb-2"><i class="fas fa-phone-square fa-fw fa-lg mr-2 "></i><a class="resume-link" href="tel:#">{{ data.mobile}}</a></li>
                                <li class="mb-2"><i class="fas fa-envelope-square fa-fw fa-lg mr-2"></i><a class="resume-link" href="mailto:#">{{ data.email }}</a></li>
                                <li class="mb-2"><i class="fas fa-globe fa-fw fa-lg mr-2"></i><a class="resume-link" href="#">www.ashwanishakya.com</a></li>
                                <li class="mb-0"><i class="fas fa-map-marker-alt fa-fw fa-lg mr-2"></i>{{ data.address }}</li>
                            </ul>
                        </div>
                        <!--//resume-contact-->
                    </div>
                    <!--//row-->
                </div>
                <!--//resume-header-->
                <hr>
                <div class="resume-intro py-3">
                    <div class="media flex-column flex-md-row align-items-center">
                        <img class="resume-profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto" src="{{ data.avatar }}" alt="image">
                        <div class="media-body text-left">
                            <p class="mb-0" [innerHTML]="data.bio"></p>
                        </div>
                        <!--//media-body-->
                    </div>
                </div>
                <!--//resume-intro-->
                <hr>
                <div class="resume-body">
                    <div class="row">
                        <div class="resume-main col-12 col-lg-8 col-xl-9 pr-0 pr-lg-5">
                            <section class="work-section py-3">
                                <h3 class="text-uppercase resume-section-heading mb-4">Work Experiences</h3>
                                <div class="item mb-3" *ngFor="let experience of data.experience">
                                    <div class="item-heading row align-items-center mb-2">
                                        <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">{{ experience.designation }}</h4>
                                        <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">{{ experience.org_name}} | {{experience.start_date}} - {{experience.end_date}}</div>
                                    </div>
                                    <div class="item-content">
                                        <p>{{ experience.description }}</p>
                                    </div>
                                </div>
                            </section>
                            <!--//work-section-->
                            <section class="project-section py-3">
                                <h3 class="text-uppercase resume-section-heading mb-4">Projects</h3>
                                <div class="item mb-3" *ngFor="let project of data.project">
                                    <div class="item-heading row align-items-center mb-2">
                                        <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">{{ project.title }}</h4>
                                        <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">{{ project.start_date}} - {{project.end_date}}</div>
                                    </div>
                                    <div class="item-content">
                                        <p class="mb-0" [innerHTML]="project.description"></p>
                                    </div>
                                </div>
                                <!--//item-->
                            </section>
                            <!--//project-section-->
                        </div>
                        <!--//resume-main-->
                        <aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">
                            <section class="skills-section py-3">
                                <h3 class="text-uppercase resume-section-heading mb-4">Skills</h3>
                                <div class="item">
                                    <h4 class="item-title">Technical</h4>
                                    <ul class="list-unstyled resume-skills-list">
                                        <li class="mb-2" *ngFor="let skill of data.skill">{{ skill.skill }}</li>
                                    </ul>
                                </div>
                            </section>
                            <!--//skills-section-->
                            <section class="education-section py-3">
                                <h3 class="text-uppercase resume-section-heading mb-4">Education</h3>
                                <ul class="list-unstyled resume-education-list">
                                    <li class="mb-3" *ngFor="let education of data.education">
                                        <div class="resume-degree font-weight-bold">{{ education.qualification }}</div>
                                        <div class="resume-degree-org text-muted">{{ education.university }}</div>
                                        <div class="resume-degree-time text-muted">{{ education.start_year}} - {{ education.end_year}}</div>
                                    </li>
                                </ul>
                            </section>
                            <!--//education-section-->
                            <section class="education-section py-3">
                                <h3 class="text-uppercase resume-section-heading mb-4">Awards</h3>
                                <ul class="list-unstyled resume-awards-list">
                                    <li class="mb-3" *ngFor="let award of data.awards">
                                        <div class="font-weight-bold">{{ award.award }}</div>
                                        <!-- <div class="text-muted">Microsoft lorem ipsum (2019)</div> -->
                                    </li>
                                </ul>
                            </section>
                            <!--//education-section-->
                            <section class="skills-section py-3">
                                <h3 class="text-uppercase resume-section-heading mb-4">Languages</h3>
                                <ul class="list-unstyled resume-lang-list">
                                    <li class="mb-2" *ngFor="let language of data.languages">
                                        {{language.language }} <span class="text-muted"></span>
                                    </li>
                                </ul>
                            </section>
                            <!--//certificates-section-->
                            <section class="skills-section py-3">
                                <h3 class="text-uppercase resume-section-heading mb-4">Interests</h3>
                                <ul class="list-unstyled resume-interests-list mb-0">
                                    <li class="mb-2" *ngFor="let interest of data.interests">
                                        {{interest.interest}}
                                    </li>
                                </ul>
                            </section>
                            <!--//certificates-section-->
                        </aside>
                        <!--//resume-aside-->
                    </div>
                    <!--//row-->
                </div>
                <!--//resume-body-->
                <hr>
                <div class="resume-footer text-center">
                    <ul class="resume-social-list list-inline mx-auto mb-0 d-inline-block text-muted">
                        <li class="list-inline-item mb-lg-0 mr-3"><a class="resume-link" href="https://github.com/ashshakya"><i class="fab fa-github-square fa-2x mr-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">github.com/ashshakya</span></a></li>
                        <li class="list-inline-item mb-lg-0 mr-3"><a class="resume-link" href="https://www.linkedin.com/in/ashwani-shakya/"><i class="fab fa-linkedin fa-2x mr-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">linkedin.com/in/ashwani-shakya</span></a></li>
                        <li class="list-inline-item mb-lg-0 mr-lg-3"><a class="resume-link" href="https://stackoverflow.com/users/6523218/ashwani-shakya"><i class="fab fa-twitter fa-fw" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">@ashwanishakya64</span></a></li>
                    </ul>
                </div>
                <!--//resume-footer-->
            </article>
        </div>
    </div>
    <!--//main-wrapper-->
    <!--//main-wrapper-->
    <!-- *****CONFIGURE STYLE (REMOVE ON YOUR PRODUCTION SITE)****** -->
    <!--//configure-panel-->
    <!-- Javascript -->
    <script src="assets/plugins/jquery-3.4.1.min.js"></script>
    <script src="assets/plugins/popper.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Dark Mode -->
    <script src="assets/plugins/js-cookie.min.js"></script>
    <script src="assets/js/dark-mode.js"></script>
</body>

</html>