{% extends 'base.html' %}
{% block content %}
    {% if postApprove %}            
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for post in postApprove %}
                  <div class="post-preview" id="post-detail">
                    <a href="{% url 'post_approve' pk=post.pk %}">
                      <h2 class="post-title">
                        {{ post.title|title }}
                      </h2>
                      <!-- <p class="post-subtitle">
                        {{ post.text|safe|truncatechars:56 }}
                      </p> -->
                    </a>
                    <p class="post-meta"> Posted by <a href="{% url 'user_detail' pk=user.pk %}">{{ post.owner.get_full_name|title }}</a> on {{ post.published_date|date:'d-m-Y' }}{% if post.is_approve %} &#x2713; {% else %} &#10007; {% endif %}</p>
                  </div>
                  <hr>
                {% endfor %}
            </div>
          </div>
        </div>
        <br/>
    {% else %}
        <p align="center">No blogs to approve.</p>
    {% endif %}
    </div>

     <!-- Pager -->
    <div class="clear">
        {% if is_paginated %}
            <div class="paginate" style="text-align: center;">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a class="btn" href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a class="btn" href="?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    </div> 

{% endblock %}
