{% extends 'base.html' %}
{% block content %}
 <!--  <div class="icon-bar">
    <a><i class="fas fa-thumbs-up"></i></a>
    <a><i class="fas fa-thumbs-down"></i></a>    
  </div> -->

  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto" id="post-detail">
          <h1 class="title">{{ post.title|title }}</h1>
          <p class="post-metaa"> Posted by <a class="author-name" href="{% url 'user_detail' pk=post.owner_id %}">{{ post.owner.get_full_name|title }}</a> on {{ post.published_date|date:'d-m-Y' }}{% if post.is_approve %} &#x2713; {% else %} &#10007; {% endif %} 
            {% if post.owner == user %}
              <a id='edit-post' href="{% url 'post_update' pk=post.pk %}"><i class="fas fa-pencil-alt"></i></a>
              <form action="{% url 'post_delete' post.pk %}" method="post">{% csrf_token %}
                <button id="confirm-delete">
                  <i class="far fa-trash-alt"></i>
                </button>
              </form>
            {% endif %}
          </p>
          {{ post.text|safe }}
        </div>
      </div>
    </div>
  </article>
  <hr>

  <div class="comment">
    <h1 class="title">Comment</h1>
    <form method="POST" class="form-comment" id="form-comment" data-validate-url='/post/{{post.id}}' data-validate-username='{{ user.username|title }}' >
        {% csrf_token %}  
        <div class="block-streamText"">
            <div class="postArticle postArticle--short">
                {{ form }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
    <hr>
    <div class="show-comment" id="show-comment">
    </div>
    <div class="show-comment">
        {% for comment in comments %}
          <div class="panel panel-default arrow left">
            <div class="panel-body">
              <div class="comment-user"><i class="fa fa-user"></i> {{ comment.0|title }}
                <a class="text-right" href="{% url 'comment_reply' pk=comment.2 %}"><i class="fa fa-reply"></i>Reply</a>
              </div>
              <div class="comment-post">
                <p>
                  <span>{{ comment.1|truncatechars:56 }}</span>
                </p>
              </div>
              <!-- <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> reply</a></p> -->
            </div>
          </div>
        {% endfor %}
    </div>
    
{% endblock %}

