{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
	<title>{{ user.first_name }} {{ user.last_name }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	
	<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/profile/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/profile/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/profile/bootstrap.css' %}">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="{% static 'css/profile/flexslider.css' %}">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{% static 'css/profile/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/profile/owl.theme.default.min.css' %}">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'css/profile/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/profile/color.css' %}">
	<link rel="stylesheet" href="{% static 'css/profile/custom.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'js/profile/modernizr-2.6.2.min.js' %}"></script>

	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script> -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
	<div id="colorlib-page">
		<div class="container-wrap">
		<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
		<aside id="colorlib-aside" role="complementary" class="border js-fullheight">
			<div class="text-center">
				{% if user_auth %}
					<a class="user-title" href="{% url 'user-update' slug=user.slug %}"><i class="icon-pen"></i></a>
				{% endif %}
				<div class="author-img" style="background-image: url({{ user.avatar.url }});">
				</div>
				<h1 id="colorlib-logo"><a>{{ user.first_name }} {{ user.last_name }}</a></h1>
				<span class="position"><a>{{ user.intro }}</span>
			</div>
			<nav id="colorlib-main-menu" role="navigation" class="navbar">
				<div id="navbar" class="collapse">
					<ul>
						<!-- <li class="active"><a href="#colorlib-aside" data-nav-section="home">Home</a></li> -->
						<li><a href="#" data-nav-section="about">About</a></li>
						<li><a href="#" data-nav-section="services">Services</a></li>
						<li><a href="#" data-nav-section="skills">Skills</a></li>
						<li><a href="#" data-nav-section="education">Education</a></li>
						<li><a href="#" data-nav-section="experience">Experience</a></li>
						<li><a href="#" data-nav-section="work">Work</a></li>
						<li><a href="#" data-nav-section="blog">Blog</a></li>
						<li><a href="#" data-nav-section="contact">Contact</a></li>
					</ul>
				</div>
			</nav>

			<div class="colorlib-footer">
				<ul>
					<li><a href="https://github.com/ashshakya" target="_blank">
						<i class="icon-github"></i>
					</a></li>
					<li><a href="https://stackoverflow.com/users/6523218/ashwani-shakya", target="_blank">
						<i class="icon-stackoverflow"></i>
					</a></li>
					{# <li><a href="#"><i class="icon-instagram"></i></a></li> #}
					<li><a href="https://www.linkedin.com/in/ashwani-shakya", target="_blank">
						<i class="icon-linkedin2"></i>
					</a></li>
				</ul>
			</div>

		</aside>
		<div id="colorlib-main">
			<h2><a class="confession" href="{% url 'home' %}">CONFESSION</a></h2>
			<section class="colorlib-about" data-section="about">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-12">
							<div class="row row-bottom-padded-sm" data-animate-effect="fadeInLeft">
								<div class="col-md-12">
									<div class="about-desc">
										<span class="heading-meta">About Us</span>
										<h2 class="colorlib-heading">Who Am I?</h2>
										{% if user_auth %}
											<a class="user-desc" href="{% url 'user_detail' pk=user.pk %}"><i class="icon-pen"></i></a>
										{% endif %}
										<p>
											{{ user.bio|safe }}
										</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3" data-animate-effect="fadeInLeft">
									<div class="services color-1">
										<span class="icon2"><i class="icon-file-excel"></i></span>
										<h3>Data Analyst</h3>
									</div>
								</div>
								<div class="col-md-3" data-animate-effect="fadeInRight">
									<div class="services color-2">
										<span class="icon2"><i class="icon-globe-outline"></i></span>
										<h3>Machine Learning</h3>
									</div>
								</div>
								<div class="col-md-3" data-animate-effect="fadeInTop">
									<div class="services color-3">
										<span class="icon2"><i class="icon-data"></i></span>
										<h3>Software</h3>
									</div>
								</div>
								<div class="col-md-3" data-animate-effect="fadeInBottom">
									<div class="services color-4">
										<span class="icon2"><i class="icon-phone3"></i></span>
										<h3>Application</h3>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12" data-animate-effect="fadeInLeft">
									<div class="hire">
										<h2>I am happy to know you <br>that 10+ projects done sucessfully!</h2>
										<a href="#contact-email" class="btn-hire">Hire me</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>


			
			<section class="colorlib-services" data-section="services">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3" data-animate-effect="fadeInLeft">
							<span class="heading-meta">What I do?</span>
							<h2 class="colorlib-heading">Here are some of my expertise</h2>
						</div>
					</div>
					<div class="row row-pt-md">
						<div class="col-md-4 text-center">
							<div class="services color-1">
								<span class="icon">
									<i class="icon-bulb"></i>
								</span>
								<div class="desc">
									<h3>Innovative Ideas</h3>
									<p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 text-center">
							<div class="services color-2">
								<span class="icon">
									<i class="icon-data"></i>
								</span>
								<div class="desc">
									<h3>Software</h3>
									<p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 text-center">
							<div class="services color-3">
								<span class="icon">
									<i class="icon-phone3"></i>
								</span>
								<div class="desc">
									<h3>Application</h3>
									<p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 text-center">
							<div class="services color-4">
								<span class="icon">
									<i class="icon-layers2"></i>
								</span>
								<div class="desc">
									<h3>Graphic Design</h3>
									<p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 text-center">
							<div class="services color-5">
								<span class="icon">
									<i class="icon-data"></i>
								</span>
								<div class="desc">
									<h3>Software</h3>
									<p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 text-center">
							<div class="services color-6">
								<span class="icon">
									<i class="icon-phone3"></i>
								</span>
								<div class="desc">
									<h3>Application</h3>
									<p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<div id="colorlib-counter" class="colorlib-counters" style="background-image: url(/media/images/profile/cover_bg_1.jpg);" data-stellar-background-ratio="0.5">
				<div class="overlay"></div>
				<div class="colorlib-narrow-content">
					<div class="row">
					</div>
					<div class="row">
						<div class="col-md-3 text-center">
							<span class="colorlib-counter js-counter" data-from="0" data-to="309" data-speed="5000" data-refresh-interval="50"></span>
							<span class="colorlib-counter-label">Cups of coffee</span>
						</div>
						<div class="col-md-3 text-center">
							<span class="colorlib-counter js-counter" data-from="0" data-to="5" data-speed="5000" data-refresh-interval="50"></span>
							<span class="colorlib-counter-label">Projects</span>
						</div>
						<div class="col-md-3 text-center">
							<span class="colorlib-counter js-counter" data-from="0" data-to="3" data-speed="5000" data-refresh-interval="50"></span>
							<span class="colorlib-counter-label">Clients</span>
						</div>
						<div class="col-md-3 text-center">
							<span class="colorlib-counter js-counter" data-from="0" data-to="2" data-speed="5000" data-refresh-interval="50"></span>
							<span class="colorlib-counter-label">Partners</span>
						</div>
					</div>
				</div>
			</div>

			<section class="colorlib-skills" data-section="skills">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3" data-animate-effect="fadeInLeft">
							<span class="heading-meta">My Specialty</span>
							{% if user_auth %}
								<a href="{% url 'skill' slug=user.username %}">Add Skills</i></a>
							{% endif %}
							<h2 class="colorlib-heading">My Skills</h2>
						</div>
					</div>
					<div class="row">
						{% for i in skill %}
							<div class="col-md-6" data-animate-effect="fadeInLeft">
								<div class="progress-wrap">
									<h3>
										<form action="{% url 'skill_delete' i.pk %}" method="post">{% csrf_token %}
							                <!-- <a onclick="this.parentNode.submit();" id="confirm-delete">{{i.skill}} <i class="icon-delete2"></i></a> -->
							                {{i.skill}}
							                {% if user_auth %}
								                <button id="confirm-delete"><i class="icon-delete2"></i></button>
								                <a href="{% url 'skill-update' pk=i.pk %}"><i class="icon-edit"></i></a>
								            {% endif %}
						              	</form>
									</h3>
									<div class="progress">
											<div class="progress-bar color-{{forloop.counter}}" role="progressbar" aria-valuenow="{{i.rating}}"
									  	aria-valuemin="0" aria-valuemax="100" style="width:{{i.rating}}%">
									    	<span>{{i.rating}}%</span>							              	
									  	</div>
									 	
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</section>

			<section class="colorlib-education" data-section="education">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3" data-animate-effect="fadeInLeft">
							<span class="heading-meta">Education</span>
							{% if user_auth %}
								<a href="{% url 'qualification' slug=user.username %}">Add Qualifications</i></a>
							{% endif %}
							<h2 class="colorlib-heading">Education</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12" data-animate-effect="fadeInLeft">
							<div class="fancy-collapse-panel">
								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
								{% for count, value in qualification.items %}
									<div class="panel panel-default">
									    <div class="panel-heading" role="tab" id="heading{{count}}">
									        <h4 class="panel-title">
									            <a class="collapsed"
									               data-toggle="collapse"
									               data-parent="#accordion"
									               href="#collapse{{count}}"
									               aria-expanded="false"
									               aria-controls="collapse{{count}}"
									               data-html="true"
									               >{{value.specialization}} | {{ value.grade }} | {{ value.from_year }} - {{ value.completion_year }} 
									            </a>
									        </h4>
									    </div>
									    <div id="collapse{{count}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{count}}">
									        <div class="panel-body">
									            {{ value.achievement.strip|safe }}
									            {% if user_auth %}
									            <form action="{% url 'qualification_delete' value.id %}" method="post">{% csrf_token %}
									            	<a href="{% url 'qualification_edit' pk=value.id %}"><i class='icon-pen2'></i></a>
										            <button id="confirm-delete"><i class="icon-delete2"></i></button>
								              	</form>
								              	{% endif %}
									        </div>
									    </div>
									</div>
								{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="colorlib-experience" data-section="experience">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3" data-animate-effect="fadeInLeft">
							<span class="heading-meta">Experience</span>
							{% if user_auth %}
								<a href="{% url 'experience' slug=user.username %}">Add Experience</i></a>
							{% endif %}
							<h2 class="colorlib-heading">Work Experience</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
				         <div class="timeline-centered">
				         	{% for exp in experience %}
						         <article class="timeline-entry" data-animate-effect="fadeInLeft">
						            <div class="timeline-entry-inner">

						               <div class="timeline-icon color-{{forloop.counter}}">
						                  <i class="icon-anchor"></i>
						               </div>

						               <div class="timeline-label">
						                  <h2>
						                  	<a>{{ exp.designation }}</a>
						                  	<span>
						                  		{{ exp.start_month }} {{ exp.start_year }} - {% if exp.end_month %} {{ exp.end_month }} {{ exp.completion_year }} {% elif exp.present_working %} present {% endif %}
						                  	</span>
						                  </h2>
						                  {% if user_auth %}
							                  <form class="experience" action="{% url 'experience_delete' exp.id %}" method="post">{% csrf_token %}
								            	<a href="{% url 'experience_edit' pk=exp.pk %}"><i class='icon-pen2'></i></a>
									            <button id="confirm-delete"><i class="icon-delete2"></i></button>
							              	  </form>
							              {% endif %}
						                  <p>{{ exp.description }}</p>
						               </div>
						            </div>
						         </article>
						    {% endfor %}
					         <article class="timeline-entry begin" data-animate-effect="fadeInBottom">
					            <div class="timeline-entry-inner">
					               <div class="timeline-icon color-none">
					               </div>
					            </div>
					         </article>
					      </div>
					   </div>
				   </div>
				</div>
			</section>

			<!-- <section class="colorlib-work" data-section="work">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3" data-animate-effect="fadeInLeft">
							<span class="heading-meta">My Work</span>
							<h2 class="colorlib-heading">Recent Work</h2>
						</div>
					</div>
					<div class="row row-bottom-padded-sm" data-animate-effect="fadeInLeft">
						<div class="col-md-12">
							<p class="work-menu"><span><a href="#" class="active">Graphic Design</a></span> <span><a href="#">Web Design</a></span> <span><a href="#">Software</a></span> <span><a href="#">Apps</a></span></p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6" data-animate-effect="fadeInLeft">
							<div class="project" style="background-image: url(images/img-1.jpg);">
								<div class="desc">
									<div class="con">
										<h3><a href="work.html">Work 01</a></h3>
										<span>Website</span>
										<p class="icon">
											<span><a href="#"><i class="icon-share3"></i></a></span>
											<span><a href="#"><i class="icon-eye"></i> 100</a></span>
											<span><a href="#"><i class="icon-heart"></i> 49</a></span>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6" data-animate-effect="fadeInRight">
							<div class="project" style="background-image: url(images/img-2.jpg);">
								<div class="desc">
									<div class="con">
										<h3><a href="work.html">Work 02</a></h3>
										<span>Animation</span>
										<p class="icon">
											<span><a href="#"><i class="icon-share3"></i></a></span>
											<span><a href="#"><i class="icon-eye"></i> 100</a></span>
											<span><a href="#"><i class="icon-heart"></i> 49</a></span>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6" data-animate-effect="fadeInTop">
							<div class="project" style="background-image: url(images/img-3.jpg);">
								<div class="desc">
									<div class="con">
										<h3><a href="work.html">Work 03</a></h3>
										<span>Illustration</span>
										<p class="icon">
											<span><a href="#"><i class="icon-share3"></i></a></span>
											<span><a href="#"><i class="icon-eye"></i> 100</a></span>
											<span><a href="#"><i class="icon-heart"></i> 49</a></span>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6" data-animate-effect="fadeInBottom">
							<div class="project" style="background-image: url(images/img-4.jpg);">
								<div class="desc">
									<div class="con">
										<h3><a href="work.html">Work 04</a></h3>
										<span>Application</span>
										<p class="icon">
											<span><a href="#"><i class="icon-share3"></i></a></span>
											<span><a href="#"><i class="icon-eye"></i> 100</a></span>
											<span><a href="#"><i class="icon-heart"></i> 49</a></span>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6" data-animate-effect="fadeInLeft">
							<div class="project" style="background-image: url(images/img-5.jpg);">
								<div class="desc">
									<div class="con">
										<h3><a href="work.html">Work 05</a></h3>
										<span>Graphic, Logo</span>
										<p class="icon">
											<span><a href="#"><i class="icon-share3"></i></a></span>
											<span><a href="#"><i class="icon-eye"></i> 100</a></span>
											<span><a href="#"><i class="icon-heart"></i> 49</a></span>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6" data-animate-effect="fadeInRight">
							<div class="project" style="background-image: url(images/img-6.jpg);">
								<div class="desc">
									<div class="con">
										<h3><a href="work.html">Work 06</a></h3>
										<span>Web Design</span>
										<p class="icon">
											<span><a href="#"><i class="icon-share3"></i></a></span>
											<span><a href="#"><i class="icon-eye"></i> 100</a></span>
											<span><a href="#"><i class="icon-heart"></i> 49</a></span>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<p><a href="#" class="btn btn-primary btn-lg btn-load-more">Load more <i class="icon-reload"></i></a></p>
						</div>
					</div>
				</div>
			</section>
 -->
 			<hr>
 			{% if post %}
				<section class="colorlib-blog" data-section="blog">
					<div class="colorlib-narrow-content">
						<div class="row">
							<div class="col-md-6 col-md-offset-3 col-md-pull-3" data-animate-effect="fadeInLeft">
								<span class="heading-meta">Read</span>
								<h2 class="colorlib-heading">Recent Blog</h2>
							</div>
						</div>
						<div class="row">
							{% for blog in post %}
							<div class="col-md-4 col-sm-6" data-animate-effect="fadeInLeft">
								<div class="blog-entry">
									<div class="desc">
										<span><small>{{ blog.published_date|date:'d-m-Y'}}{% if post.is_approve %} &#x2713; {% else %} &#10007; {% endif %}</small></span>
										<h3><a href="{% url 'post_detail' pk=blog.pk %}">{{ blog.title }}</a></h3>
										<p>{{ blog.text|safe|truncatechars:110 }}</p>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
						<!-- <div class="row">
							<div class="col-md-12">
								<p><a href="{% url 'post_list' %}" class="btn btn-primary btn-lg btn-load-more">Load more <i class="icon-reload"></i></a></p>
							</div>
						</div> -->
					</div>
				</section>
			{% endif %}
			<hr>
			<section class="colorlib-contact" data-section="contact">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3" data-animate-effect="fadeInLeft">
							<span class="heading-meta">Get in Touch</span>
							<h2 class="colorlib-heading">Contact</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<div class="colorlib-feature colorlib-feature-sm" id="contact-email" data-animate-effect="fadeInLeft">
								<div class="colorlib-icon">
									<i class="icon-mail"></i>
								</div>
								<div class="colorlib-text">
									<p><a  href="mail://">confessionat9@gmail.com</a></p>
								</div>
							</div>

							<div class="colorlib-feature colorlib-feature-sm" data-animate-effect="fadeInLeft">
								<div class="colorlib-icon">
									<i class="icon-phone"></i>
								</div>
								<div class="colorlib-text">
									<p><a href="tel://">+91 7827202516</a></p>
								</div>
							</div>
						</div>
						<div class="col-md-7 col-md-push-1">
							<div class="row">
								<div class="col-md-10 col-md-offset-1 col-md-pull-1" data-animate-effect="fadeInRight">
									<form method="post">
										{% csrf_token %}
							            {% for field in form %}
											<div class="form-group">
								                {{ field.errors }}
								                {{ field }}
								            </div>
							                <br/>
							            {% endfor %}
							            <div class="form-group">
											<input type="submit" class="btn btn-primary btn-send-message" value="Send Message">
										</div>
									</form>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</section>

		</div><!-- end:colorlib-main -->
	</div><!-- end:container-wrap -->
	</div><!-- end:colorlib-page -->

	<!-- jQuery -->
	<script src="{% static 'js/profile/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/profile/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/profile/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/profile/jquery.waypoints.min.js' %}"></script>
	<!-- Flexslider -->
	<script src="{% static 'js/profile/jquery.flexslider-min.js' %}"></script>
	<!-- Owl carousel -->
	<script src="{% static 'js/profile/owl.carousel.min.js' %}"></script>
	<!-- Counters -->
	<script src="{% static 'js/profile/jquery.countTo.js' %}"></script>
	
	
	<!-- MAIN JS -->
	<script src="{% static 'js/profile/main.js' %}"></script>
	<script src="{% static 'js/profile/custom.js' %}"></script>

	<script type="text/javascript">
        $(document).on('click', '#confirm-delete', function(){
            return confirm('Are you sure you want to delete this?');
        })
    </script>

	</body>
</html>

